<template name="ListLocations">
<h1>Objekte</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Ort</th>
        <th>Straße</th>
        <th>Nummer</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Telefon</th>
        <th>email</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {{#each locations}}
        <tr>
            <td>{{city}}</td>
            <td>{{street}}</td>
            <td>{{number}}</td>
            <td>{{contact.firstname}}</td>
            <td>{{contact.lastname}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.email}}</td>
            <td>
            {{#linkTo route="createInspectionReport"}}
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Befundaufnahme
                </button>
            {{/linkTo}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
</template>
